[Unit]
Description=EQCCT Midland South
After=network.target

[Service]
ExecStart=/home/siervod/anaconda3/envs/eqt/bin/python ai_scheduler_midland_south.py
WorkingDirectory=/home/siervod/projects/realtime/public_eqcct/midland_south
Environment=PATH=/home/siervod/sc3_ai_picker/utils:/home/siervod/sc3_ai_picker:/home/siervod/anaconda3/bin:/home/siervod/anaconda3/condabin:/home/siervod/seiscomp3/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/siervod/.local/bin:/home/siervod/bin
Environment=CONDA_DEFAULT_ENV=eqt
Environment=SEISCOMP_ROOT=/home/siervod/seiscomp
Restart=always
User=siervod

[Install]
WantedBy=multi-user.target
