[Unit]
Description=EQCCT Range Hill
After=network.target

[Service]
ExecStart=/home/siervod/anaconda3/envs/eqt/bin/python ai_scheduler_midland.py
WorkingDirectory=/home/siervod/projects/realtime/midland_range_hill
Environment=PATH=/home/siervod/sc3_ai_picker/utils:/home/siervod/sc3_ai_picker:/home/siervod/anaconda3/bin:/home/siervod/anaconda3/condabin:/home/siervod/seiscomp3/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/siervod/.local/bin:/home/siervod/bin
Environment=CONDA_DEFAULT_ENV=eqt
Environment=SEISCOMP_ROOT=/home/siervod/seiscomp3
Restart=always
User=siervod

[Install]
WantedBy=multi-user.target
